.header-container {
  background: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  max-width: 1164px;
}
@media (max-width: 1024px) {
  .header {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
}
.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
}
.header--fixed .header__includes {
  border-bottom: 0.1px solid #e6e6e6;
}
.header--fixed::after {
  content: "";
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(216, 216, 216, 0.7098039216);
}
.header__includes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__includes {
    height: 55px;
    padding: 0px 20px;
    background: #fff;
  }
}
.header__burger {
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: rotate(0deg);
  transition-duration: 0.5s;
}
.header__burger--active {
  position: absolute;
  right: 22px;
  top: 22px;
  transform: rotate(360deg);
  z-index: 1;
}
.header__burger--active .header__bar:first-child {
  transform: rotate(45deg);
  position: absolute;
}
.header__burger--active .header__bar:nth-child(2) {
  display: none;
}
.header__burger--active .header__bar:last-child {
  transform: rotate(-45deg);
}
.header__bar {
  height: 1.5px;
  width: 100%;
  background: var(--net-color-dark);
  transition: 0.5s;
}
.header__container {
  display: none;
}
.header__container--active {
  width: 280px;
  right: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 90vh;
  height: 100%;
  background: #fff;
}
.header__container--active::before {
  content: "";
  position: fixed;
  left: inherit;
  right: 0;
  top: 0;
  z-index: -1;
  width: 280px;
  height: 100vh;
  background: #fff;
}
.header__container--active::-webkit-scrollbar {
  width: 0px;
}
.header__menu {
  width: 100%;
}
@media (max-width: 1024px) {
  .header__menu--top {
    content: "";
    height: 0.5px;
    width: 280px;
    background: #e6e6e6;
    display: block;
  }
}
@media (max-width: 1024px) {
  .header__menu--logo {
    padding: 20px 20px;
  }
}
/*navbar styles*/
._navbar__list {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  ._navbar__list {
    padding-right: 10px;
  }
}
._navbar__item {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  ._navbar__item {
    padding-left: 13px;
    margin-bottom: 5px;
  }
}
._navbar__item--children {
  flex-direction: column;
  margin-bottom: 0;
}
._navbar__item--largeicon img {
  width: 16px;
  height: 16px;
}
._navbar__item--largeicon a {
  gap: 5px;
}
@media (max-width: 1024px) {
  ._navbar__item--active > div > ._navbar__link {
    border-left: 2px solid transparent;
    color: var(--net-color-primary) !important;
    border-radius: 10px;
    background-color: rgba(193, 193, 193, 0.12);
  }
}
._navbar__link, ._navbar__link:visited {
  width: 100%;
  min-height: 44px;
  padding: 0;
  padding-left: 2px;
  display: flex;
  align-items: center;
  border-left: 2px solid transparent;
  color: var(--net-color-primary) !important;
  gap: 7px;
}
@media (max-width: 1024px) {
  ._navbar__link, ._navbar__link:visited {
    padding: 10px 16px;
  }
}
._navbar__link:hover, ._navbar__link:visited:hover {
  text-decoration: none;
  background: #F7F7F7;
  color: var(--net-color-secundary) !important;
}
@media (max-width: 1024px) {
  ._navbar__link, ._navbar__link:visited, ._navbar__link + span {
    color: var(--net-color-primary);
    font-size: 14px;
  }
  ._navbar__link:hover, ._navbar__link:visited:hover, ._navbar__link + span:hover {
    border-left: 2px solid transparent;
    color: var(--net-color-primary);
    border-radius: 10px;
    background-color: rgba(193, 193, 193, 0.12);
  }
}
._navbar__container-link-submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
._navbar__btn-page {
  padding: 10px 20px;
  transition-duration: 0.2s;
}
._navbar__btn-page:hover {
  background: rgba(128, 128, 128, 0.1098039216);
}
._navbar__btn-page i {
  transition-duration: 0.2s;
}
._navbar__btn-page--active i {
  transform: rotate(180deg);
}
._navbar__submenu {
  width: 100%;
  display: none;
}
@media (max-width: 1024px) {
  ._navbar__submenu {
    padding-left: 13px;
  }
}
._navbar__submenu--active {
  display: block;
  margin-left: 0;
}
@media (min-width: 1025px) {
  ._navbar__submenu {
    border-radius: 5px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.1411764706), 0 3px 14px 2px rgba(0, 0, 0, 0.1215686275);
  }
  ._navbar__submenu ._navbar__item {
    width: 100%;
    max-width: 125px;
  }
  ._navbar__submenu ._navbar__item:first-child:hover, ._navbar__submenu ._navbar__item:first-child:hover ._navbar__link {
    border-radius: 5px 5px 0 0;
  }
  ._navbar__submenu ._navbar__item:last-child:hover, ._navbar__submenu ._navbar__item:last-child:hover ._navbar__link {
    border-radius: 0 0 5px 5px;
  }
  ._navbar__submenu ._navbar__item--children:hover > ul {
    left: 81%;
    top: 0;
  }
  ._navbar__submenu ._navbar__item--children .fa-angle-down:before {
    content: "\f105";
  }
  ._navbar ._navbar__item--last ._navbar__submenu ._navbar__item--children:hover > ul {
    left: -114%;
    top: 0;
  }
  ._navbar ._navbar__item--last ._navbar__submenu .fa.fa-angle-down:before {
    content: "\f104";
  }
}

/*HEADER3*/
@media (max-width: 1024px) {
  .header {
    padding: 0 0;
  }
  .header--fixed {
    background: transparent;
  }
  .header--fixed .header__includes {
    border-bottom: 0.1px solid #e6e6e6;
  }
  .header--fixed::after {
    content: "";
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(216, 216, 216, 0.7098039216);
  }
  .header__includes {
    height: 55px;
    padding: 0px 20px;
    background: #fff;
  }
  .header__container--active {
    width: 280px;
    right: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    background: #fff;
    margin-top: 0;
    max-height: 90vh;
  }
  .header__container--active::before {
    content: "";
    position: fixed;
    left: inherit;
    right: 0;
    top: 0;
    z-index: -1;
    width: 280px;
    height: 100vh;
    background: #fff;
  }
  .header__burger--active {
    position: absolute;
    right: 22px;
    top: 22px;
  }
  .header__burger--active::after {
    content: initial;
  }
  .header__menu--top::before {
    content: "";
    height: 0.5px;
    width: 280px;
    background: #e6e6e6;
    display: block;
  }
  .header__menu--logo {
    padding: 20px 20px;
  }
  ._navbar__list {
    padding-right: 10px;
  }
  ._navbar__item {
    padding-left: 13px;
  }
  ._navbar__link, ._navbar__link:visited {
    padding: 10px 16px;
  }
  ._navbar__link, ._navbar__link:visited, ._navbar__link + span {
    color: var(--net-color-primary);
    font-size: 14px;
  }
  ._navbar__link:hover, ._navbar__link:visited:hover, ._navbar__link + span:hover {
    border-left: 2px solid transparent;
    color: var(--net-color-primary);
    border-radius: 10px;
    background-color: rgba(193, 193, 193, 0.12);
  }
  ._navbar__item--active ._navbar__link {
    border-left: 2px solid transparent;
    color: var(--net-color-primary) !important;
    border-radius: 10px;
    background-color: rgba(193, 193, 193, 0.12);
  }
  ._navbar__submenu {
    padding-left: 13px;
  }
}
@media (min-width: 1025px) {
  ._navbar__item--last:hover ._navbar__submenu {
    left: inherit;
    right: 0;
  }
  .header__container::before {
    content: inherit;
  }
  img#dnn_dnnLOGO_imgLogo {
    max-width: initial;
    max-height: 40px;
  }
  .header-container {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-top: 36px;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    min-height: 65px;
    margin: auto;
    box-shadow: none;
  }
  .header__burger {
    display: none;
  }
  .header__includes {
    width: 250px;
  }
  .header__container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .header__menu--top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #e7e7e7;
  }
  ._navbar--top {
    width: 100%;
    max-width: 1164px;
    padding: 0 0;
    margin: auto;
  }
  ._navbar--top iconify-icon {
    margin-top: -1px;
  }
  ._navbar__list {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
  }
  ._navbar__list--top {
    height: 36px;
  }
  ._navbar__item {
    justify-content: flex-end;
    min-height: inherit;
    width: -moz-max-content;
    width: max-content;
  }
  ._navbar__item--largeicon img {
    width: 13px;
    height: 13px;
  }
  ._navbar__item--children {
    position: relative;
  }
  ._navbar__item--children:hover::before {
    content: "";
    padding: 10px;
    position: absolute;
    top: 22px;
    left: -11px;
    width: 95px;
  }
  ._navbar__item--children:hover > ._navbar__submenu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  ._navbar__item--children a {
    gap: 6px;
  }
  ._navbar__item--active ._navbar__link {
    color: var(--net-color-secundary) !important;
  }
  ._navbar__link {
    width: -moz-max-content;
    width: max-content;
    border-left: none;
    min-height: inherit;
  }
  ._navbar__link--top {
    font-size: 13px;
  }
  ._navbar__link--bottom {
    font-size: 18px;
  }
  ._navbar__link:hover {
    background: transparent;
    border-left: none;
  }
  ._navbar__btn-page {
    padding: 0px;
  }
  ._navbar__btn-page i {
    font-size: 13px;
  }
  ._navbar__btn-page:hover {
    background: inherit;
  }
  ._navbar__submenu {
    width: 100%;
    display: none;
    position: absolute;
    top: 35px;
    left: -20px;
    background: #fff;
    width: -moz-max-content;
    width: max-content;
    z-index: 10;
  }
  ._navbar__submenu--top {
    top: 30px;
    min-width: 150px;
  }
  ._navbar__submenu--top ._navbar__item {
    display: block;
    width: 100%;
    padding: 9px;
    max-width: inherit;
  }
  ._navbar__submenu--top ._navbar__item:hover {
    background-color: #f5f5f5;
  }
  ._navbar__submenu--top ._navbar__link--top {
    display: block;
    width: 100%;
  }
  ._navbar__submenu--bottom {
    padding: 0;
  }
  ._navbar__submenu--bottom ._navbar__item {
    width: 100%;
    min-width: 112px;
  }
  ._navbar__submenu--bottom ._navbar__item:hover::before {
    content: initial;
  }
  ._navbar__submenu--bottom ._navbar__link {
    font-size: 13px;
    padding: 12px 11px;
    width: 100%;
    justify-content: space-between;
  }
  ._navbar__submenu--bottom ._navbar__link:hover {
    background: rgba(0, 0, 0, 0.0392156863);
  }
}/*# sourceMappingURL=header--3.css.map */