.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: #ecf1f6;
  padding: 10px;
}
.login__body {
  width: 100%;
  max-width: 600px;
}
.login__logo, .login__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__footer {
  margin-top: 10px;
}
.login__footer a {
  width: 120px;
}
@media (min-width: 780px) {
  .login__footer a {
    width: 140px;
  }
}
.login__logo {
  margin-bottom: 25px;
}
.login__pane {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__pane > div {
  width: 94%;
  max-width: 380px;
}
.login .DNNContainer_Title_h2.SpacingBottom {
  box-shadow: rgba(0, 0, 0, 0.02) 2.76726px 2.76726px 2.21381px 0px, rgba(0, 0, 0, 0.03) 6.6501px 6.6501px 5.32008px 0px, rgba(0, 0, 0, 0.04) 12.5216px 12.5216px 10.0172px 0px, rgba(0, 0, 0, 0.04) 22.3363px 22.3363px 17.869px 0px, rgba(0, 0, 0, 0.05) 41.7776px 41.7776px 33.4221px 0px, rgba(0, 0, 0, 0.07) 50px 50px 80px 0px;
  border-radius: 10px;
}
.login .heading_wrapper {
  padding-left: 0;
  padding-right: 0;
}

#dnn_loginPane .heading_wrapper h2 {
  margin: 0px;
  background-color: #fff;
  text-align: center;
  display: block;
  padding: 15px 0px;
  font-size: 20px;
  border-radius: 10px 10px 0 0;
}

#dnn_loginPane .heading_wrapper h2 span {
  color: var(--net-color-dark);
  font-size: 20px;
  margin: 0 !important;
  font-family: var(--font-family-primary);
}

.LoginPanel {
  width: 100%;
  float: none;
  padding: 11px 20px 17px;
  background: #fff;
  border: 0;
  border-top: 1px solid #ddd;
  border-radius: 0px 0px 10px 10px;
}
.LoginPanel .dnnForm .dnnFormItem a.dnnPrimaryAction {
  box-shadow: none;
  border-radius: 0.25rem;
  background: none;
  background-color: var(--net-btn-bg-primary) !important;
  width: 100%;
  text-shadow: none;
  margin: 0px;
  border: 1px solid var(--net-btn-bg-primary);
  color: var(--net-color-light);
  font-size: 16px;
  padding: 15px 0;
  font-weight: 400;
}
.LoginPanel .dnnForm .dnnFormItem a.dnnPrimaryAction:hover {
  background-color: var(--net-btn-bg-primary-hover) !important;
}
.LoginPanel .dnnForm .dnnFormItem a.dnnSecondaryAction {
  box-shadow: none;
  border-radius: 0px;
  background: none;
  width: 100%;
  text-shadow: none;
  margin: 0px;
  border: 0;
  transition: 0.5s;
  margin-top: 0px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
  color: var(--net-color-link);
}
.LoginPanel .dnnForm .dnnFormItem:nth-child(4) a:nth-child(3) {
  display: none;
}

.loginContent .dnnLabel {
  float: none;
  width: 100%;
  text-align: left;
  color: #737373;
  margin-bottom: 4px;
}
.loginContent .dnnFormItem:nth-child(3),
.loginContent .dnnFormItem:nth-child(5) .dnnFormLabel {
  display: none;
}

.dnnLoginService input[type=text],
.dnnLoginService input[type=password] {
  width: 100%;
  border-radius: 0px;
  height: 44px;
  min-width: 100%;
  border: 1px solid #ddd !important;
  box-shadow: 0 0 5px 0px rgba(239, 239, 239, 0.568627451) !important;
  border-bottom: none;
  margin-bottom: 16px;
  border-radius: 4px;
  padding: 24px 10px;
}

.dnnFormItem input[type=text]:active,
.dnnFormItem input[type=text]:focus,
.dnnFormItem input[type=password]:focus,
.dnnFormItem input[type=password]:active {
  outline: none;
}

span#dnn_ctr36960_Login_Login_DNN_lblLoginRememberMe {
  display: none;
}

.dnnClear:after {
  content: initial;
}/*# sourceMappingURL=login.css.map */