/* estilos iniciales */
:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secundary: "Roboto", sans-serif;
}

:root {
  --net-color-primary: #777;
  --net-color-secundary: #007BFF;
  --net-color-sucess: #198754;
  --net-color-danger: #dc3545;
  --net-color-warning: #ffc107;
  --net-color-info: #0dcaf0;
  --net-color-light: #f8f9fa;
  --net-color-dark: #343a40;
  /*Color de botones*/
  --net-btn-bg-primary: #007BFF;
  --net-btn-bg-primary-hover: #0571dc;
  /*esta configuracion de abajo aplica unicamente a header transparente*/
  --color-header-link: var(--net-color-primary);
  --color-header-link-hover: var(--net-color-secundary);
  --color-header-transparent-link: #fff;
  --color-header-transparent-link-hover: #fff;
  /*Color de links para paginas*/
  --net-color-link: #007BFF;
  --net-color-link-hover: #0571dc;
}

html, body, .wrapper {
  height: 100%;
  width: 100%;
  font-family: var(--font-family-primary);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  margin-bottom: 0;
}
a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
}

em, small {
  letter-spacing: 0;
}

.DNNEmptyPane {
  display: none;
}

body {
  font-size: 1rem;
}

.overflow-disabled {
  overflow: hidden;
}

li, p {
  line-height: 1.5em;
}

.paneOutline {
  border: 1px dashed #ccc;
}

a {
  border: 0;
}
a img {
  border: 0;
}

#dnn_dnnLOGO_imgLogo {
  max-width: 150px;
  max-height: 40px;
}
@media (min-width: 1025px) {
  #dnn_dnnLOGO_imgLogo {
    max-width: 190px;
    max-height: inherit;
  }
}

abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, time, tt, u, ul, var, video {
  border: 0;
}

.TB_Wrapper {
  box-sizing: content-box;
}
.TB_Wrapper * {
  box-sizing: content-box;
}

.dnnActionMenu {
  box-sizing: content-box;
}
.dnnActionMenu *, .dnnActionMenu:after, .dnnActionMenu:before {
  box-sizing: content-box;
}

.dnn_mact {
  box-sizing: content-box;
}
.dnn_mact *, .dnn_mact:after, .dnn_mact:before {
  box-sizing: content-box;
}

[id*=ControlPanel] {
  box-sizing: content-box;
}
[id*=ControlPanel] *, [id*=ControlPanel]:after {
  box-sizing: content-box;
}

[class*=RadAjaxPanel] *, [class*=Digital] * {
  box-sizing: content-box;
}

html, li {
  font-size: 16px;
}

p {
  font-size: 14px;
}

ol.list-unstyled {
  list-style: none;
  margin: 0;
}
ol.list-unstyled > li {
  list-style: none;
  margin: 0;
}

ul.list-unstyled {
  list-style: none;
  margin: 0;
}
ul.list-unstyled > li {
  list-style: none;
  margin: 0;
}
ul.row {
  margin-left: -15px;
  margin-right: -15px;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}
ul li {
  list-style-type: disc;
}
ul li li {
  list-style-type: circle;
}

ol li {
  list-style-type: decimal;
  list-style-position: inside;
}

.nav li {
  list-style: none !important;
}

a {
  outline: 0 !important;
}

ul#myTab {
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  font-size: 13px;
}

.CommandButton, .Head, .Normal, .NormalBold, .NormalDisabled, .NormalRed, .NormalTextBox, .SubHead, .SubSubHead {
  font-family: var(--font-family-primary);
}

a:hover, a:link, a:visited {
  font-family: var(--font-family-primary);
}
body, h1, h2, h3, h4, h5, h6, input, table, td, th {
  font-family: var(--font-family-primary);
}

.SubHead {
  color: #000;
}

Body #Form {
  height: 100%;
}

embed, img, object {
  max-width: 100%;
}

[class*=map] img, [class*=Map] img, [id*=map] img, [id*=Map] img, table img {
  max-width: none !important;
}

img {
  height: auto;
}

em {
  font-style: italic;
}

strong {
  color: #333;
  font-weight: 700;
}

small {
  font-size: 12px;
}

a:active, a:link, a:visited {
  text-decoration: none;
  color: var(--net-color-link);
}
a:hover {
  text-decoration: underline;
  color: var(--net-color-link-hover);
}

p {
  margin: 0;
}

ol li > ol li {
  list-style-type: lower-latin;
}

h1, h2, h3, h4, h5, h6 {
  color: #494949;
  line-height: 1.3em;
  margin: 0 0 10px;
  font-weight: 400;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

@media screen and (min-width: 300px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }
}
#breadcrumb {
  font-family: var(--font-family-primary);
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px dashed;
  border-color: #ccc;
  background-color: transparent;
  padding: 5px 0;
  margin: 0;
  display: block;
}
#breadcrumb a {
  margin-left: 10px;
  font-weight: 600;
  font-size: 11px;
  color: #626262;
}
#breadcrumb a:first-child {
  font-family: var(--font-family-primary);
  font-size: 11px !important;
  font-weight: 400;
  color: #7b7d82;
  margin: 0;
}
#breadcrumb img, #breadcrumb span {
  margin-left: 10px;
}

/* end estilos iniciales */
/* estilos de bloques/elementos Reutilizables */
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link--icon {
  color: var(--net-color-light) !important;
  background-color: var(--net-color-primary);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link--icon:hover {
  color: var(--net-color-light) !important;
  background-color: var(--net-color-secundary);
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.f-bold {
  font-weight: bold;
}

.net-accordion__container {
  padding: 10px 0 15px;
}
.net-accordion__title {
  padding: 10px 0;
  position: relative;
  font-size: 18px;
}
.net-accordion__title::after {
  content: "+";
  position: absolute;
  right: 5px;
  top: 50%;
  width: 10px;
  height: 10px;
  color: #fff;
  font-size: 20px;
  transform: translate(0, -50%);
  text-align: center;
  font-weight: bold;
  transition: 0.5s;
  background-color: var(--net-color-secundary);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.net-accordion__child {
  margin-bottom: 2px;
}
@media (max-width: 768px) {
  .net-accordion__child {
    width: 100%;
  }
}
.net-accordion__child.active .net-accordion__title::after {
  content: "-";
}
.net-accordion__body {
  padding: 0 0;
  height: 0;
  position: relative;
  overflow: hidden;
}
.net-accordion__child.active .net-accordion__body {
  display: block;
  padding: 10px 0;
  height: -moz-max-content;
  height: max-content;
}

@media (min-width: 769px) {
  .net-accordion__title::after {
    content: inherit;
  }
  .net-accordion__body {
    height: -moz-max-content;
    height: max-content;
    padding: 10px 0;
    background-color: transparent;
  }
  .net-accordion__title {
    background-color: transparent;
    font-weight: 500;
    font-size: 17px;
  }
}
/* end estilos de bloques/elementos Reutilizables */
/* pagina internet explorer */
.ie-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 750px;
  margin: auto;
  min-height: 100vh;
  gap: 35px;
  align-items: center;
  padding: 30px 0;
}
@media (min-width: 1025px) {
  .ie-page {
    gap: 25px;
    width: 720px;
  }
}
.ie-page__body {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ie-page__text {
  margin: 0;
  line-height: 25px;
  font-size: 16px;
}
.ie-page__link {
  text-decoration: none;
}
.ie-page__link--primary {
  font-weight: bold;
}
.ie-page__link:hover {
  text-decoration: underline;
}
.ie-page__title {
  font-size: 30px;
  font-weight: 700;
}
.ie-page__subtitle {
  font-size: 18px;
  font-weight: 500;
}
.ie-page__title, .ie-page__subtitle {
  text-align: center;
}
.ie-page__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}
.ie-page__container--footer {
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.ie-page__line {
  border-bottom: solid 1px #999999;
  width: 100%;
}

/* end pagina internet explorer */
/* pagina de login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: #ecf1f6;
  padding: 10px;
}
.login__body {
  width: 100%;
  max-width: 600px;
}
.login__logo, .login__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__footer {
  margin-top: 10px;
}
.login__footer a {
  width: 120px;
}
@media (min-width: 780px) {
  .login__footer a {
    width: 140px;
  }
}
.login__logo {
  margin-bottom: 25px;
}
.login__pane {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__pane > div {
  width: 94%;
  max-width: 380px;
}
.login .DNNContainer_Title_h2.SpacingBottom {
  box-shadow: rgba(0, 0, 0, 0.02) 2.76726px 2.76726px 2.21381px 0px, rgba(0, 0, 0, 0.03) 6.6501px 6.6501px 5.32008px 0px, rgba(0, 0, 0, 0.04) 12.5216px 12.5216px 10.0172px 0px, rgba(0, 0, 0, 0.04) 22.3363px 22.3363px 17.869px 0px, rgba(0, 0, 0, 0.05) 41.7776px 41.7776px 33.4221px 0px, rgba(0, 0, 0, 0.07) 50px 50px 80px 0px;
  border-radius: 10px;
}
.login .heading_wrapper {
  padding-left: 0;
  padding-right: 0;
}

#dnn_loginPane .heading_wrapper h2 {
  margin: 0px;
  background-color: #fff;
  text-align: center;
  display: block;
  padding: 15px 0px;
  font-size: 20px;
  border-radius: 10px 10px 0 0;
}

#dnn_loginPane .heading_wrapper h2 span {
  color: var(--net-color-dark);
  font-size: 20px;
  margin: 0 !important;
  font-family: var(--font-family-primary);
}

.LoginPanel {
  width: 100%;
  float: none;
  padding: 11px 20px 17px;
  background: #fff;
  border: 0;
  border-top: 1px solid #ddd;
  border-radius: 0px 0px 10px 10px;
}
.LoginPanel .dnnForm .dnnFormItem a.dnnPrimaryAction {
  box-shadow: none;
  border-radius: 0.25rem;
  background: none;
  background-color: var(--net-btn-bg-primary) !important;
  width: 100%;
  text-shadow: none;
  margin: 0px;
  border: 1px solid var(--net-btn-bg-primary);
  color: var(--net-color-light);
  font-size: 16px;
  padding: 15px 0;
  font-weight: 400;
}
.LoginPanel .dnnForm .dnnFormItem a.dnnPrimaryAction:hover {
  background-color: var(--net-btn-bg-primary-hover) !important;
}
.LoginPanel .dnnForm .dnnFormItem a.dnnSecondaryAction {
  box-shadow: none;
  border-radius: 0px;
  background: none;
  width: 100%;
  text-shadow: none;
  margin: 0px;
  border: 0;
  transition: 0.5s;
  margin-top: 0px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
  color: var(--net-color-link);
}
.LoginPanel .dnnForm .dnnFormItem:nth-child(4) a:nth-child(3) {
  display: none;
}

.loginContent .dnnLabel {
  float: none;
  width: 100%;
  text-align: left;
  color: #737373;
  margin-bottom: 4px;
}
.loginContent .dnnFormItem:nth-child(3),
.loginContent .dnnFormItem:nth-child(5) .dnnFormLabel {
  display: none;
}

.dnnLoginService input[type=text],
.dnnLoginService input[type=password] {
  width: 100%;
  border-radius: 0px;
  height: 44px;
  min-width: 100%;
  border: 1px solid #ddd !important;
  box-shadow: 0 0 5px 0px rgba(239, 239, 239, 0.568627451) !important;
  border-bottom: none;
  margin-bottom: 16px;
  border-radius: 4px;
  padding: 24px 10px;
}

.dnnFormItem input[type=text]:active,
.dnnFormItem input[type=text]:focus,
.dnnFormItem input[type=password]:focus,
.dnnFormItem input[type=password]:active {
  outline: none;
}

span#dnn_ctr36960_Login_Login_DNN_lblLoginRememberMe {
  display: none;
}

.dnnClear:after {
  content: initial;
}

/* end pagina de login */
/* pagina de register */
.registerFormPane a.dnnFormHelp {
  right: auto;
}
.registerFormPane .dnnFormItem input[type=text],
.registerFormPane .dnnFormItem input[type=password],
.registerFormPane .dnnFormItem input[type=email],
.registerFormPane .dnnFormItem input[type=tel],
.registerFormPane .dnnFormItem select,
.registerFormPane .dnnFormItem textarea {
  max-width: none;
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #706967;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  background: whitesmoke;
  border-radius: 5px;
  padding: 5px 16px;
  min-height: 48px;
  border-style: solid;
  --tw-border-opacity: 1 !important;
  border-color: rgb(203 213 225/var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255/var(--tw-bg-opacity)) !important;
  --tw-shadow: 0 1px 2px 0rgb(0 0 0 / .05) !important;
  --tw-shadow-colored: 0 1px 2px 0!important;
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), var(--tw-shadow) !important;
}
.registerFormPane .dnnFormItem input[type=text]:focus,
.registerFormPane .dnnFormItem input[type=password]:focus,
.registerFormPane .dnnFormItem input[type=email]:focus,
.registerFormPane .dnnFormItem input[type=tel]:focus,
.registerFormPane .dnnFormItem select:focus,
.registerFormPane .dnnFormItem textarea:focus {
  border-color: var(--net-color-secundary) !important;
}
.registerFormPane div.dnnRegistrationForm .dnnForm {
  width: 100%;
}
.registerFormPane div.dnnRegistrationForm .password-strength-container {
  width: 100%;
  max-width: none;
}
.registerFormPane div.dnnRegistrationForm {
  min-width: auto;
  max-width: 910px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 12px 13px #f0f0f0;
}
.registerFormPane .dnnSocialRegistration {
  display: none;
}
.registerFormPane .DnnModule-Registration .dnnPrimaryAction,
.registerFormPane .DnnModule-Registration .dnnPrimaryAction:hover {
  box-shadow: none;
  border-radius: 0.25rem;
  background: none;
  background-color: var(--net-btn-bg-primary);
  width: 100%;
  text-shadow: none;
  text-transform: lowercase;
  margin: 0px;
  border: 1px solid var(--net-btn-bg-primary);
  transition: 0.5s;
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
  padding: 10px 10px;
  width: 180px;
}
.registerFormPane .DnnModule-Registration .dnnPrimaryAction:hover {
  background-color: var(--net-btn-bg-primary-hover) !important;
  border: 1px solid var(--net-btn-bg-primary-hover) !important;
}
.registerFormPane .dnnSecondaryAction {
  box-shadow: none;
  border-radius: 0px;
  background: none;
  background-color: #ffffff;
  width: 100%;
  text-shadow: none;
  text-transform: lowercase;
  margin: 0px;
  border: 1px solid #C9CBCC;
  transition: 0.5s;
  margin-top: 5px;
  font-weight: 500;
  text-transform: capitalize;
  display: none;
}
.registerFormPane .dnnActions {
  height: 60px;
}
.registerFormPane .dnnLabel > label {
  margin-right: 7px;
  font-weight: 400;
}

.register {
  padding: 40px 10px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__logo {
  display: flex;
  justify-content: center;
}

@media (max-width: 1025px) {
  .registerFormPane div.dnnRegistrationForm {
    max-width: 100%;
  }
  .registerFormPane .dnnLabel > label {
    width: -moz-max-content;
    width: max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .dnnFormItem > .dnnLabel {
    width: -moz-max-content;
    width: max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .dnnFormHelp, .dnnForm .dnnFormItem .dnnFormHelp, .dnnTooltip label .dnnFormHelp {
    position: inherit;
  }
  .dnnTooltip {
    position: initial !important;
  }
  .dnnTooltip .dnnFormHelpContent, .dnnHelperTip .dnnFormHelpContent {
    width: 148px !important;
    box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.4117647059);
  }
}
@media (min-width: 1024px) {
  .dnnForm:nth-child(1) > div:nth-child(3) > div > div:nth-child(1) {
    padding-right: 5px;
  }
  .dnnForm:nth-child(1) > div:nth-child(3) > div > div:nth-child(1), .dnnForm:nth-child(1) > div:nth-child(3) > div > div:nth-child(2) {
    width: 50%;
    display: inline-block;
  }
  .dnnRegistrationForm > div:nth-child(1) > div {
    border-radius: 0;
  }
  .registerFormPane .dnnLabel {
    float: none;
    margin: 0;
    text-align: left;
    display: inline-block;
    color: #706967;
    font-size: 14px;
    transition: all 0.2s ease;
    z-index: 10;
    width: auto;
  }
}
/* end pagina de register */
/* pagina 404 */
.body-page-notfound {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.notfound-header, .notfound-footer {
  padding-left: 50px;
  background: #d9d9d9;
  height: 65px;
  display: flex;
  align-items: center;
}

.notfound-page {
  font-family: var(--font-family-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  max-width: 630px;
  margin: auto;
}
.notfound-page__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 300px;
  font-size: 17px;
  gap: 10px;
}
.notfound-page__logo img {
  max-width: 300px;
}
.notfound-page__title {
  font-size: 95px;
  color: var(--net-color-primary);
  font-weight: bold;
}
.notfound-page__text {
  display: inline-block;
  font-size: 16px;
}
.notfound-page__text-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: var(--net-color-dark);
  margin-bottom: 0;
}
.notfound-page__link {
  color: var(--net-color-primary);
  text-decoration: none;
}
.notfound-page__link:hover {
  color: var(--net-color-secundary);
  text-decoration: underline;
}

@media (min-width: 1025px) {
  .notfound-page__body {
    gap: 0;
  }
  .notfound-page__text-title {
    font-size: 52px;
    line-height: 70px;
    width: -moz-max-content;
    width: max-content;
  }
}

/* end pagina 404 */
/* estilos para grilla(paneles)*/
.containerPanels {
  padding-bottom: 20px;
  max-width: 2060px;
  width: 100%;
}
@media (min-width: 1025px) {
  .containerPanels {
    margin: auto;
  }
}

.siteContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.mainPanels__floatAgency {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 1025px) {
  .mainPanels {
    position: relative;
  }
  .mainPanels__floatPane {
    width: 70%;
    max-width: 1140px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 80px;
    margin: auto;
  }
  .mainPanels__floatAgency {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 70% 30%;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    width: 75%;
    max-width: 1170px;
  }
  .dnnEditState .mainPanels__floatPane, .dnnEditState .mainPanels__floatAgency {
    position: initial;
  }
  .dnnEditState .mainPanels__floatAgency {
    display: block;
  }
}
/* end estilos para grilla(paneles)*//*# sourceMappingURL=skin.css.map */